.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}

body {
	background-color: #f5e7c5;
	color: #211e1c;
	font-family: arial, sans-serif;
  font-size: 24px;
}
.main{
  margin: 0 auto;
	max-width: 960px;
	width: 100%;
}
.wrape{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:  #9c937b;
	margin-top: 0.3rem;
	padding: 0.5rem 1rem;
	position: relative;
	border-radius: 5px;
}
ul{
  list-style: none;
  padding: 0;
}
.icon{
  padding: 1rem;
  align-items: center;
}
li
button{
  line-height: 1.5;
}
.list{
  margin-right: 10rem;
}


